@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --cor-primaria: #AF8260;
    --cor-secundaria: #803D3B;
    --cor-terciaria: #322C2B;
    --cor-hover: #c4926c;
   


/* FONTES */
    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secunaria: 'Montserrat', sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.menu {
    display: flex;
    gap: 80px;
}

.menuItem {
    font-size: 1.5rem;
    font-family: var(--fonte-secunaria);
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.container {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:82px;
}

.conteudoPrincipal {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.tituloDestaque {
    color: var(--cor-terciaria);
}

.paraPrincipal {
    font-size: 1.5rem;
    font-family: var(--cor-secundaria);
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.tituloLinks {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secunaria);
    font-weight: 600;

}

.link:hover {
    background-color: var(--cor-hover);
}

.imgAbout{
    width: 50%;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--cor-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width:1200px ){
    .cabecalho{
        padding: 10%;       
    }
    .menu{
        justify-content: center;
    }


    .container{
        flex-direction: column-reverse;
        padding: 5% ;
    }
    .conteudoPrincipal{
        width: auto;
    }
   
}